[submodule "linux-can-dkms"]
	path = linux-can-dkms
	url = https://aur.archlinux.org/linux-can-dkms.git
[submodule "storj-dataserv-client"]
	path = storj-dataserv-client
	url = https://aur.archlinux.org/storj-dataserv-client.git
[submodule "python-randomio"]
	path = python-randomio
	url = https://aur.archlinux.org/python-randomio.git
[submodule "gcc-arm-none-eabi-bin"]
	path = gcc-arm-none-eabi-bin
	url = https://aur.archlinux.org/gcc-arm-none-eabi-bin.git
[submodule "python-partialhash"]
	path = python-partialhash
	url = https://aur.archlinux.org/python-partialhash.git
[submodule "python-btctxstore"]
	path = python-btctxstore
	url = https://aur.archlinux.org/python-btctxstore.git
[submodule "python-storjcore"]
	path = python-storjcore
	url = https://aur.archlinux.org/python-storjcore.git
[submodule "keepassx2-yubikey-git"]
	path = keepassx2-yubikey-git
	url = https://aur.archlinux.org/keepassx2-yubikey-git.git
