[submodule "linux-can-dkms"]
	path = linux-can-dkms
	url = https://aur.archlinux.org/linux-can-dkms.git
[submodule "storj-dataserv-client"]
	path = storj-dataserv-client
	url = https://aur.archlinux.org/storj-dataserv-client.git
[submodule "python-randomio"]
	path = python-randomio
	url = https://aur.archlinux.org/python-randomio.git
[submodule "gcc-arm-none-eabi-bin"]
	path = gcc-arm-none-eabi-bin
	url = https://aur.archlinux.org/gcc-arm-none-eabi-bin.git
[submodule "python-partialhash"]
	path = python-partialhash
	url = https://aur.archlinux.org/python-partialhash.git
[submodule "python-btctxstore"]
	path = python-btctxstore
	url = https://aur.archlinux.org/python-btctxstore.git
[submodule "python-storjcore"]
	path = python-storjcore
	url = https://aur.archlinux.org/python-storjcore.git
[submodule "keepassx2-yubikey-git"]
	path = keepassx2-yubikey-git
	url = https://aur.archlinux.org/keepassx2-yubikey-git.git
[submodule "copay"]
	path = copay
	url = https://aur.archlinux.org/copay.git
[submodule "backblaze-b2"]
	path = backblaze-b2
	url = https://aur.archlinux.org/backblaze-b2.git
[submodule "python-intelhex"]
	path = python-intelhex
	url = https://aur.archlinux.org/python-intelhex.git
[submodule "project-generator-definitions"]
	path = project-generator-definitions
	url = https://aur.archlinux.org/project-generator-definitions
[submodule "project-generator"]
	path = project-generator
	url = https://aur.archlinux.org/project-generator
[submodule "pyocd"]
	path = pyocd
	url = https://aur.archlinux.org/pyocd
[submodule "valinor"]
	path = valinor
	url = https://aur.archlinux.org/valinor
[submodule "mbed-test-wrapper"]
	path = mbed-test-wrapper
	url = https://aur.archlinux.org/mbed-test-wrapper
[submodule "yotta"]
	path = yotta
	url = https://aur.archlinux.org/yotta
[submodule "python-mbed-tools"]
	path = python-mbed-tools
	url = https://aur.archlinux.org/python-mbed-tools
[submodule "kicost"]
	path = kicost
	url = https://aur.archlinux.org/kicost.git
[submodule "python-affine"]
	path = python-affine
	url = https://aur.archlinux.org/python-affine.git
[submodule "kipart"]
	path = kipart
	url = https://aur.archlinux.org/kipart.git
[submodule "python-storjnode"]
	path = python-storjnode
	url = https://aur.archlinux.org/python-storjnode
[submodule "python-crochet"]
	path = python-crochet
	url = https://aur.archlinux.org/python-crochet
[submodule "python-pyp2p"]
	path = python-pyp2p
	url = https://aur.archlinux.org/python-pyp2p
[submodule "python-kademlia"]
	path = python-kademlia
	url = https://aur.archlinux.org/python-kademlia
[submodule "python-umsgpack"]
	path = python-umsgpack
	url = https://aur.archlinux.org/python-umsgpack
[submodule "python-rpcudp"]
	path = python-rpcudp
	url = https://aur.archlinux.org/python-rpcudp
[submodule "python-ntplib"]
	path = python-ntplib
	url = https://aur.archlinux.org/python-ntplib
[submodule "backblaze-b2sync"]
	path = backblaze-b2sync
	url = https://aur.archlinux.org/backblaze-b2sync
[submodule "python-yattag"]
	path = python-yattag
	url = https://aur.archlinux.org/python-yattag
[submodule "somagic-easycap-smi2021-git"]
	path = somagic-easycap-smi2021-git
	url = https://aur.archlinux.org/somagic-easycap-smi2021-git.git
[submodule "kinetis-design-studio-bin"]
	path = kinetis-design-studio-bin
	url = https://aur.archlinux.org/kinetis-design-studio-bin
[submodule "expressvpn"]
	path = expressvpn
	url = https://aur.archlinux.org/expressvpn.git
[submodule "python-tqdm"]
	path = python-tqdm
	url = https://aur.archlinux.org/python-tqdm
[submodule "python-can"]
	path = python-can
	url = https://aur.archlinux.org/python-can
[submodule "mynewt-newt"]
	path = mynewt-newt
	url = https://aur.archlinux.org/mynewt-newt
[submodule "remote_syslog2"]
	path = remote_syslog2
	url = https://aur.archlinux.org/remote_syslog2
[submodule "digitalocean-synchronize"]
	path = digitalocean-synchronize
	url = https://aur.archlinux.org/digitalocean-synchronize.git
[submodule "do-agent"]
	path = do-agent
	url = https://aur@aur.archlinux.org/do-agent
[submodule "sharp-mx-3050to6170-ps"]
	path = sharp-mx-3050to6170-ps
	url = https://aur.archlinux.org/sharp-mx-3050to6170-ps.git
[submodule "bmap-tools"]
	path = bmap-tools
	url = https://aur.archlinux.org/bmap-tools.git
[submodule "python-intervaltree"]
	path = python-intervaltree
	url = https://aur.archlinux.org/python-intervaltree.git
[submodule "python-b2sdk"]
	path = python-b2sdk
	url = https://aur.archlinux.org/python-b2sdk.git
[submodule "wavedrom-editor"]
	path = wavedrom-editor
	url = https://aur.archlinux.org/wavedrom-editor.git
[submodule "python-cmsis-pack-manager"]
	path = python-cmsis-pack-manager
	url = https://aur.archlinux.org/python-cmsis-pack-manager.git
[submodule "dropwatch"]
	path = dropwatch
	url = https://aur.archlinux.org/dropwatch.git
[submodule "pylink"]
	path = pylink
	url = https://aur.archlinux.org/pylink.git
[submodule "python-class-registry"]
	path = python-class-registry
	url = https://aur.archlinux.org/python-class-registry.git
[submodule "storj-uplink"]
	path = storj-uplink
	url = http://aur.archlinux.org/storj-uplink.git
[submodule "helium-ledger-app-bin"]
	path = helium-ledger-app-bin
	url = http://aur.archlinux.org/helium-ledger-app-bin.git
[submodule "helium-wallet"]
	path = helium-wallet
	url = http://aur.archlinux.org/helium-wallet.git
[submodule "python-rst2ansi"]
	path = python-rst2ansi
	url = http://aur.archlinux.org/python-rst2ansi.git
[submodule "helium-ledger-cli"]
	path = helium-ledger-cli
	url = http://aur.archlinux.org/helium-ledger-cli.git
[submodule "blktrace"]
	path = blktrace
	url = https://aur.archlinux.org/blktrace.git
[submodule "python-logfury"]
	path = python-logfury
	url = https://aur.archlinux.org/python-logfury
[submodule "cncli"]
	path = cncli
	url = https://aur.archlinux.org/cncli
[submodule "celocli"]
	path = celocli
	url = https://aur.archlinux.org/celocli.git
[submodule "celoterminal-bin"]
	path = celoterminal-bin
	url = https://aur.archlinux.org/celoterminal-bin.git
[submodule "celoterminal"]
	path = celoterminal
	url = https://aur.archlinux.org/celoterminal.git
[submodule "pipewatch-git"]
	path = pipewatch-git
	url = https://aur.archlinux.org/pipewatch-git.git
